@page "/fetchdata"

@using FootballApp.Data
@using FootballApp.Models

@inject NavigationManager NavigationManager
@inject FootballMatchService FootballService

<h1>Football Matches</h1>

@if (Matchlist.Matches == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>HomeTeam</th>
                <th>Score</th>
                <th>AwayTeam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var match in Matchlist.Matches)
            {
                <tr @onclick="(()=> GetMatch(match))">
                    <td>@match.MatchDate</td>
                    <td>@match.HomeTeam.Name</td>
                    <td>@match.HomeGoals - @match.AwayGoals</td>
                    <td>@match.AwayTeam.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    string url = "https://functionapp2018071101324.blob.core.windows.net/data/matches_latest.json";
    public int MatchID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Matchlist.Matches = await FootballMatchService.DownloadSerializesJsonData<List<Match>>(url);
    }

    private void GetMatch(FootballApp.Models.Match match)
    {
        //Add routing to singlematch page
        MatchID = match.Id;
        NavigationManager.NavigateTo("/single/"+MatchID);
    }

    //public async Task<IActionResult> OnPostAsync(int id)
    //{
    //    Submission = _SubmissionContext.Submissions
    //                    .Where(s => s.ID == id).First();
    //    Submission.AssignedTo = Assignee;
    //    await _SubmissionContext.SaveChangesAsync();

    //    return RedirectToRoute("./ProjectDetails", new { id = Submission.ID });
    //}
}
