@page "/"

@using FootballApp.Data
@using FootballApp.Models

@inject NavigationManager NavigationManager
@inject FootballMatchService FootballService

<h1>Football Matches</h1>

@if (Matchlist.Matches == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <input placeholder="Search with team" @bind="SearchText"/>
    <button @onclick="Search">Search</button>

    <table class=" table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Date</th>
                <th>HomeTeam</th>
                <th>Score</th>
                <th>AwayTeam</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Match match in matchlist)
            {
                <tr @onclick="(()=> GetMatch(match))">
                    <td>@Matchlist.Matches.IndexOf(match)</td>
                    <td>@match.MatchDate</td>
                    <td>@match.HomeTeam.Name</td>
                    <td>@match.HomeGoals - @match.AwayGoals</td>
                    <td>@match.AwayTeam.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    public int MatchID { get; set; }
    private string SearchText;
    private List<Match> matchlist = new List<Match>();

    protected override async Task OnInitializedAsync()
    {
        //Populate static Matchlist-class with data from external JSON
        Matchlist.Matches = await FootballMatchService.DownloadSerializesJsonData<List<Match>>();
        if(Matchlist.Matches != null)
        {
            foreach(Match match in Matchlist.Matches)
            {
                matchlist.Add(match);
            }
        }
    }

    private void GetMatch(FootballApp.Models.Match match)
    {
        //Add routing to singlematch page
        MatchID = match.Id;
        NavigationManager.NavigateTo("/single/" + MatchID);
    }
    
    private void Search()
    {
        SearchText = SearchText.ToLower();
        matchlist.Clear();
        if (!string.IsNullOrWhiteSpace(SearchText))
        {
            
            foreach(Match match in Matchlist.Matches)
            {
                matchlist.Add(match);
            }
            foreach(Match match in matchlist.ToList())
            {
                if(!match.HomeTeam.Name.ToLower().Contains(SearchText) & !match.AwayTeam.Name.ToLower().Contains(SearchText))
                {
                    matchlist.Remove(match);
                }
            }
        }
        else
        {
            foreach(Match match in Matchlist.Matches)
            {
                matchlist.Add(match);
            }
        }
    }
}