@page "/single/{MatchID}"

@using FootballApp.Data
@using FootballApp.Models

<div class="float-left">
    <h1>Match ID @MatchID</h1>
</div>
<div class="float-right">
    <img src="@TargetMatch.HomeTeam.LogoUrl" width="80" alt="@TargetMatch.HomeTeam.Name" /> VS
    <img src="@TargetMatch.AwayTeam.LogoUrl" width="80" alt="@TargetMatch.AwayTeam.Name" />
</div>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr align="center">
            <th>Date</th>
            <th>HomeTeam </th>
            <th>Score</th>
            <th>AwayTeam </th>
        </tr>
    </thead>
    <tbody>
        <tr align="center">
            <td>@TargetMatch.MatchDate</td>
            <td>@TargetMatch.HomeTeam.Name </td>
            <td class="font-weight-bold">@TargetMatch.HomeGoals - @TargetMatch.AwayGoals</td>
            <td>@TargetMatch.AwayTeam.Name</td>
        </tr>
    </tbody>
</table>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Minute</th>
            <th>Event</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evt in TargetMatch.MatchEvents)
        {
            <tr>
                <td>@evt.EventMinute</td>
                <td><img src="@evt.EventTypeIcon" /></td>
                <td>@evt.Description</td>
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public string MatchID { get; set; }

    // public Matchlist matchlist;
    public Match TargetMatch;


    //Matchlist matchlist = FootBallService.matchlist;
    protected override void OnInitialized()
    {
        foreach (Match match in Matchlist.Matches)
        {
            if (match.Id == Int32.Parse(MatchID))
            {
                TargetMatch = match;
            }
        }
    }

}
