@page "/single/{MatchID}"

@using FootballApp.Data
@using FootballApp.Models

<h1>Match ID @MatchID</h1>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>HomeTeam</th>
            <th>Score</th>
            <th>AwayTeam</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@TargetMatch.MatchDate</td>
            <td>@TargetMatch.HomeTeam.Name <img src="@TargetMatch.HomeTeam.LogoUrl" /> </td>
            <td>@TargetMatch.HomeGoals - @TargetMatch.AwayGoals</td>
            <td>@TargetMatch.AwayTeam.Name <img src="@TargetMatch.AwayTeam.LogoUrl" /></td>
        </tr>
    </tbody>
</table>
<table>
    <thead>
        <tr>
            <th>Minute</th>
            <th>Event</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var evt in TargetMatch.MatchEvents)
        {
            <tr>
                <td>@evt.EventMinute</td>
                <td><img src="@evt.EventTypeIcon" /></td>
                <td>@evt.Description</td>
            </tr>
        }
    </tbody>
</table>

@code {

    [Parameter]
    public string MatchID { get; set; }

    // public Matchlist matchlist;
    public Match TargetMatch;


    //Matchlist matchlist = FootBallService.matchlist;
    protected override void OnInitialized()
    {
        foreach (Match match in Matchlist.Matches)
        {
            if (match.Id == Int32.Parse(MatchID))
            {
                TargetMatch = match;
            }
        }
    }

}
